
  /* Base Table Styling */
table {
  width: 300px;
  border-collapse: separate;
  border-spacing: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Header and Cell Styling */
th, td {
  border-radius: 12px;
  width: 60px;
  height: 60px;
  text-align: center;
  transition: all 0.3s ease;
}

/* Image Sizing */
img {
  width: 40px;
  height: 40px;
}

/* Bingo Cards Container */
#cartonesContainer {
  border-radius: 30px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 50px;
  padding: 20px;
  background-color: #f0f0f0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  
}

/* Estilos por defecto */
#cartonesContainer.normal {
  background-color: #ff8800;
}

#cartonesContainer.normal th {
  background-color: #6c757d;
  color: white;
  border-radius: 10px;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#cartonesContainer.normal tr {
  background-color: #ffffff;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

#cartonesContainer.normal tr:hover {
  background-color: #f8f9fa;
}

#cartonesContainer.normal td {
  color: black;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  font-size: 1.5rem;
}

/* Subtle Hover and Active States */
#cartonesContainer.normal td:hover {
  background-color: #e9ecef;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.celda {
    cursor: pointer;
    border: 1px solid #ccc;
}

.celda.seleccionado {
    background-color: red; 
  }
  #cartonesContainer.normal td.seleccionado{
    color: transparent;
  }
  #cartonesContainer.normal td.seleccionado:hover {
    background-color: rgb(197, 2, 2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  #cartonesContainer.normal td.no-seleccionable {
    background-color: #ccc;
    color: #888;
    cursor: not-allowed;
}
.modal2 {
  color: black;
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content2 {
  position: absolute;
  top: 50%;
  left: 50%;
  color: black;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
