
.logo-carga{
    position: absolute;
    height: 200px;
    top: 0%;
    right: 30px;
}
.loader {
    width: 90%;
    height: 5vh;
    background-color: #fff;
    border-radius: 20px;
    margin: 20px 0;
}
.progress {
    height: 100%;
    background-color: #ff8000;
    width: 0;
    animation: loading 3s linear forwards;
    border-radius: 20px;
    border: 3px solid;
}
.top-text {
    font-size: 3.8rem;
    margin-bottom: 1px;
}

.bottom-text {
    font-size: 1.5rem;
    margin-top: 1px;          
}

.container {
    justify-content: flex-start;
    padding-bottom: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    height: 100vh;             
    text-align: center;
}
@keyframes loading {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
.bottom-image {
    position: fixed;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%);
    width: 30%;  
    max-width: 300px;
    min-width: 150px; 
    height: auto;             
}
@media (max-width: 750px) {
    .logo-carga{
        position: absolute;
        max-height: 150px;
        min-height: 50px; 
        top: 0%;
        right: 30px;
    }
    .bottom-image {
        position: fixed;
        bottom: 5%; 
        left: 50%;
        transform: translateX(-50%);
        width: 30%;  
        max-width: 500px;
        min-width: 230px; 
        height: auto;             
    }
}
@media (max-width: 400px) {
    .logo-carga{
        position: absolute;
        max-height: 150px;
        min-height: 70px; 
        top: 0%;
        right: 30px;
    }
    .bottom-image {
        position: fixed;
        bottom: 5%; 
        left: 50%;
        transform: translateX(-50%);
        width: 30%;  
        max-width: 500px;
        min-width: 230px; 
        height: auto;             
    }
}
@media (max-width: 350px), (max-height: 600px) {
    .logo-carga{
        display: none;
    }
    .bottom-image {  
        display: none;           
    }
}
.content {
    text-align: center;
    margin-top: 20px;
}
.globo-texto{
    position: fixed;
    top: 20%;
    left: 10%;
    max-width: 350px;
    height: auto;
}
.capi-pregunta{
    position: fixed;
    top:50%;
    bottom: 0;
    left: 25%;
    width: 400px;
    height: auto;
}
.edad{
    background-color: #ff8000;
    width: 450px;
    height: 300px;
    float: right;
    margin-top: 4%;
    margin-right: 15%;
    border-radius: 40px;
    border: solid;
    box-shadow: 0px 0px 7px mintcream;
}
.form-check{
    margin-top: 14px;
    margin-left: 50px;
}
.form-check-input{
    width: 1.5em;
    height: 1.5em;
}
.text-input{
    margin-left: 0px;
}
.btn-continuar{
    border-color: #FFF;
    color: #FFF;
    background-color: #ff8000;
    width: 250px;
    position: absolute;
    top: 80%;
    right: 10%;
    font-size: 2.5rem;
    border-radius: 30px;
    box-shadow: 0px 0px 20px mintcream;
}
.btn-continuar:hover{
    background-color: #ca6500;
}
.mensaje-error{
    font-size: 1.4rem;
    margin-top: 1px;
    color: #ff1b02;;
}
input{
    cursor: url('../imgs/cursores/puntero-click.cur'),pointer;   
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40
  }
  .black{
    color: black;
    float: left;
    margin-left: 90px;
  }
  .info{
    color: black;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
    font-size: 1rem;
}
.content{
    display:none;
}
.content.show {
    display: block;
    opacity: 1;
}
.capi{
    position: absolute;
    top: 20%;
    left: 20%;
    max-width: 600px;
}
.content2{
    display: none;
    opacity: 0;
    transition: opacity 1s ease;
    text-align: center;
}
.content2.show {
    display: block;
    opacity: 1;
}
.hidden {
    opacity: 0;
    transition: opacity 1s ease;
}
  .tuto{
      margin-top: 10px;
    float: left;
  }
  .experiencia{
    float:right;
    padding: 20px;
    margin-right: 100px;
    margin-top: 50px;
    width: 350px;
    height: 400px;
    border-radius: 40px;
    background-color:#ff8000;
    text-align: center;
    align-self:center;
    border: solid;
    box-shadow: 0px 0px 10px mintcream;
  }
  .texto-info-1{
    font-size: 1.5rem;
  }
  .texto-info-2{
    margin-top: 12px;
    font-size: 1.5rem;
  }
  #btn-1, #btn-2{
    background-color: #2232D9;
    font-size: 2rem;
    color: white;
    width: 250px;
    height: 100px;
    border-radius: 30px;
  }
  #btn-1:hover{
    background-color: #0f1986;
  }
  #btn-2:hover{
    background-color: #0f1986;
  }
  .hover-content {
    color: transparent;

}
.hover-container:hover .hover-content{
    display: block;
    color: white;
}
/* contenido 3 */
.iniciar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    height: 420px;
    background-color: #ffffff5e;
    border-radius: 30px;
    margin:none;
}

.iniciar-sesion,
.registrarse {
    border: none;
    color: #FFF;
    background-color: #ff8000;
    width: 250px;
    font-size: 2.5rem;
    border-radius: 30px;
    margin-top: 40px;

    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3), -3px -3px 5px rgba(255, 255, 255, 0.432);
}

.iniciar-sesion:hover,
.registrarse:hover {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3), -2px -2px 4px rgba(255, 255, 255, 0.3);
}

.invitado {
    display: block;
    margin-top: 30px;
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

.invitado:hover {
    text-decoration: underline;
}

.info-inicio{
    color: white;
    margin-top: 7px;
    float: left;
    margin-left: 90px;
    height: 35px;
    width: 35px;
}
.texto-inicio{
    font-size: 1rem;
    margin-top: 30px;
    margin-right: 0px;
    text-align: left;
}
@media(max-width: 1156px){
    .capi{
        position: absolute;
        top: 20%;
        left: 10%;
        max-width: 499px;
    }
}
@media(max-width: 1020px){
    .capi{
        position: absolute;
        top: 20%;
        left: 1%;
        max-width: 490px;
    }
}
@media(max-width: 900px){
    .capi{
        position: absolute;
        top: 25%;
        left: -5%;
        max-width: 420px;
    }
}
@media(max-width: 750px){
    .capi{
        display: none;
        max-width: 0px;
    }
    .hover-content {
        color: white;
    }
    .experiencia{
        margin: 0%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .texto-info-1{
        font-size: 1.5rem;
      }
      .texto-info-2{
        margin-top: 12px;
        font-size: 1.5rem;
      }
}
@media(max-width: 1200px){
    .globo-texto{
        position: fixed;
        top: 20%;
        left: 2%;
        max-width: 330px;
        height: auto;
    }
    .capi-pregunta{
        position: fixed;
        top:50%;
        bottom: 0;
        left: 15%;
        width: 370px;
        height: auto;
    }
}
@media(max-width: 1000px){
    .globo-texto{
        position: fixed;
        top: 20%;
        left: 1%;
        max-width: 250px;
        height: auto;
    }
    .capi-pregunta{
        position: fixed;
        top:50%;
        bottom: 0;
        left: 6%;
        width: 340px;
        height: auto;
    }
}   
@media (max-width: 900px){
    .globo-texto{
        display: none;
    }
    .capi-pregunta{
        display: none;
    }
    .edad{
        margin: auto 0.1%;
        max-width: 380px;
        height: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .black{
        color: black;
        float: left;
        margin-left: 50px;
      }
      .info{
        color: black;
        margin-left: 5px;
        margin-top: 1px;
        float: left;
        font-size: 1rem;
    }
    .btn-continuar{
        margin-top: -10%;
        position: absolute;
        top: 110%;
        left: 50%;
        transform: translate(-50%, 100%);
    }
}