.marco{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    width: 60%;
    height: 90vh;
    border: solid 4px #ffffff;
    background-color: #ffffff74;
    border-radius: 50px;
    text-align: center;
}
.mi-cuenta{
    font-size: 10vh;
}
.izquierda{
    height: 60vh;
    width: 30%;
    float: left;
    margin-left: 15%;
    margin-top: 1%;
    transform: translate(-50, -50);
}
.derecha{
    height: 60vh;
    width: 30%;
    float: right;
    margin-right: 15%;
    margin-top: 1%;
    transform: translate(-50, -50);
}
.img-perfil{
    border: solid 4px #fff;
    border-radius: 60px;
}
.gion{
    border: solid 4px #fff;
    border-radius: 10px;
    margin-top: 2%;
    width: 80%;
}
.gion2{
    border: solid 4px #fff;
    border-radius: 10px;
    width: 40%;
    margin-top: 2%;
}
.guardar{
    border: solid 4px #fff;
    border-radius: 10px;
    width: 50%;
    margin-top: 2%;
    background-color: #cececebb;
}
.guardar:hover {
    background-color: #ff8000bb;
    color: #fff;
  }
  .guardar:active {
    background-color: #ff8000bb;
    color: #fff;
    transform: scale(0.9);
  }
  .cerrar{
    border: solid 4px #fff;
    border-radius: 10px;
    width: 50%;
    margin-top: 4%;
    background-color: #cececebb;
  }
  .cerrar:hover {
    background-color: #ff0000bb;
    color: #fff;
  }
  .cerrar:active {
    background-color: #ffffffbb;
    color: #fff;
    transform: scale(0.9);
  }
  .salir{
    border: solid 4px #fff;
    border-radius: 20px;
    width: 25%;
    height: 10vh;
    margin-top: 2%;
    background-color: #ff8000;
    color: #fff;
    font-size: xx-large;
}
.salir:hover {
    background-color: #ff8000bb;
  }
  .salir:active {
    background-color: #ff8000bb;
    transform: scale(0.9);
  }
  .cartones{
    height: 60px;
    width: 60px;
    margin-left: 5%;
  }
  .contenido{
    display: auto;
    gap: 60px;
  }
  @media(max-width: 1400px){

  }