body {
    background-image: url("/imgs/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vb;
    background-position: center;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #FFF;
    font-family: "Bubblegum Sans", sans-serif;
}
bubblegum-sans-regular {
    font-family: "Bubblegum Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.narvar {
    background-color: #ff8000;
    color: #FFF;
    border: solid 2px ;
    border-radius: 20px;
    margin: 20px 7px;
    text-align: center;
}
img{
    position: absolute;
    border: 0px;
    right: 20px;
    height: 100px;
}
.titulo{
    font-family: "Bubblegum Sans", sans-serif;
    margin: 0px;
    border: 0px;
    font-size: 4.3rem;

}

