
body {
    background-image: url("/imgs/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    background-position: center center;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #FFF;
    font-family: "Bubblegum Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    animation: intro 9s forwards;
    z-index: 10;
}
.intro-logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/imgs/logos/Codecrafters.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    z-index: 11;
    animation: logo 9.5s forwards;
}
@keyframes intro {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes logo {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
.content {
    opacity: 0;
    animation: contenido 1s forwards 1s;
}

@keyframes contenido {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.logo{
    height: 25rem;
    margin-bottom: 70px;
}
.text{
    animation: texto 2s infinite;
}
@keyframes texto{
    0%{
        color: rgb(255, 255, 255);
    }
    25%{
        color: #ffffff8c;
    }
    50%{
        color: #ffffff17;
    }
    75%{
        color: rgba(255, 255, 255, 0.5);
    }
    100%{
        color: #FFF;
    }
}
a{
    text-decoration: none;
    cursor: url('/imgs/cursores/puntero-click.cur'),pointer;
}
