body {
    background-image: url("/imgs/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    background-position: center center;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #FFF;
    font-family: "Bubblegum Sans", sans-serif;
}
.intro{
    background-image: url("/imgs/Bingo Zone.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.principal{
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
    animation-name: intro;
    animation-duration: 10s;


}
@keyframes intro {
    0%{
        background-color: rgb(0, 0, 0);
        background-image: url("/imgs/Codecrafters.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
    }
    25%{
        background-color: rgb(0, 0, 0);
    }
    
    100%{
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
    }

}