body {
    background-image: url("../imgs/background.jpg");
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    background-position: center center;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #FFF;
    font-family: "Bubblegum Sans", sans-serif;
    cursor: url('../imgs/cursores//puntero-normal.cur'),auto;
    overflow: hidden;
}
a{
    cursor: url('../imgs/cursores/puntero-click.cur'),pointer;  
    text-decoration: none;
}
bubblegum-sans-regular {
    font-family: "Bubblegum Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .logo{
    position: absolute;
    height: 130px;
    top: 0%;
    left: 30px;

}
.narvar {
    background-color: #ff8000;
    color: #FFF;
    border: solid 2px ;
    border-radius: 20px;
    margin: 20px 7px;
    text-align: center;
}
.titulo{
    font-family: "Bubblegum Sans", sans-serif;
    margin: 0px;
    border: 0px;
    font-size: 4.3rem;
}
.texto1{
    text-align: center;
    font-size:5rem;
}
.marcoP{
    position: absolute;
    background-color: #ffffff8a;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 700px;
    border-radius: 40px;
    text-align: center;
}
.top, .jugador, .porcentaje, .bingocoins{
    margin-top: 20px;
    display: inline-block;
}
.top{
    float: left;
    margin-left: 30px;
}
.bingocoins{
    float: right;
    margin-right: 30px;
}
.jugador{
    margin-right: 45px;
}
.porcentaje{
    margin-left: 89px;
}
.cosos {
    display: flex;
    gap: 220px;
    justify-content: center; /* Centra horizontalmente */
    font-size: 2rem;
    margin-top: 50px; /* Cambiado de top a margin-top */ /* Esto se puede ajustar según sea necesario */
}
