body {
    background-image: url("../imgs/background.jpg");
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    background-position: center center;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #FFF;
    font-family: "Bubblegum Sans", sans-serif;
    cursor: url('../imgs/cursores//puntero-normal.cur'), auto;

}
.marco {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    width: 70%;
    height: 85vh;
    border: solid 4px #ffffff;
    background-color: #ffffff74;
    border-radius: 50px;
    text-align: center;
}
.contenido{
    display: flex;
    gap: 60px;
}
.coin{
    width: 40px;
}
.punto {
    border: solid 2px #fff;
    background-color: #FF8000;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    float: left;
    margin-top: 20px;
    margin-left: 2.5%;
}
.punto2 {
    border: solid 2px #fff;
    background-color: #FF8000;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    float: right;
    margin-right: 2.5%;
    margin-top: 20px;
}
.punto3 {
    border: solid 2px #fff;
    background-color: #FF8000;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    float: left;
    position: fixed;
    bottom: 2.5%;
    margin-left: 2.5%;
}

.punto4 {
    border: solid 2px #fff;
    background-color: #FF8000;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    float: right;
    position: fixed;
    bottom: 2.5%;
    margin: right;
    right: 2.5%;
}
.boton2{
    border: solid 2px #fff;
    background-color: #FF8000;
    color: #fff;
    border-radius: 50px;
    height: 7vh;
    width: 15%;
    float: left;
    position: fixed;
    bottom: 4%;
    margin: left;
    left: 2%;
}
.boton1{
    font-size: 5vh;
}
.barra{
    width: 80%;
    height: 60vh;
    overflow-x: auto;
    padding: 0px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 50%;
}
.carton {
    max-width: 150px;
    margin: 0%; 
}
.tienda{
    top: 5%;
    float: left;
    position: fixed;
    left: 15%;
    font-size: 10vh;
}
.m-coins{
        height: 8vh;
        width: 40%;
        border-radius: 60px;
        border: solid 2px #fff;
        float: right;
        margin-right: 2.5%;
        margin-top: 20px;
}
.boton{
    border: solid 2px #fff;
    border-radius: 60px;
    background-color: #FF8000;
    color: #fff;
    font-size: 4vh;
}
.m-coins2{
    height: 8vh;
    width: 55px;
    float: right;
    margin-right: 1%;
    margin-top: -0.5%;
}