.content {
    display: none;
    opacity: 0;
    transition: opacity 1s ease;
    text-align: center;
}
.content.show {
    display: block;
    opacity: 1;
}
.hidden {
    opacity: 0;
    transition: opacity 1s ease;
}

.capi-saludo {
    position: absolute;
    top: 80%;
    left: 15%;
    transform: translateY(-50%);
    width: 30vw; /* Ajustable en función del tamaño de la pantalla */
    max-width: 400px; /* Limita el tamaño máximo */
}

.globo-texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    max-width: 400px;
}

#btn, #btn-1, #btn-2, #btn-3, #btn-4{
    color: #FFF;
    position: absolute;
    bottom: 10%;
    right: 10%;
    font-size: 2.5rem;
    text-decoration: none;
    animation: texto 2.5s infinite;
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 768px) {
    .capi-saludo{
        position: absolute;
        top: 70%;
        left: -12%;
        transform: translateY(-50%);
        width: 90vw; /* Ajustable en función del tamaño de la pantalla */
        max-width:350px;

    }
    .globo-texto {
        position: absolute;
        top: 40%;
        left: 50%;
        width: 80vw;
        transform: translate(-50%, -50%);
        max-width: 300px;
    }
    
    #btn, #btn-1, #btn-2, #btn-3, #btn-4{
        font-size: 2rem;
        bottom: 10%;
        right: 5%;
    }
}

@media (max-width: 480px) {
    .capi-saludo{
        position: absolute;
        top: 70%;
        left: -10%;
        transform: translateY(-50%);
        width: 90vw; /* Ajustable en función del tamaño de la pantalla */
        max-width:350px;
    }
    .globo-texto {
        position: absolute;
        top: 35%;
        left: 50%;
        width: 80vw;
        transform: translate(-50%, -50%);
        max-width: 500px;
    }
    #btn, #btn-1, #btn-2, #btn-3, #btn-4{
        font-size: 2.3rem;
        right: 2%;
        transform: translateY(-50%);
    }
}


@keyframes texto{
    0% {
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
