body {
    background-image: url("../imgs/background.jpg");
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    background-position: center center;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #FFF;
    font-family: "Bubblegum Sans", sans-serif;
    cursor: url('../imgs/cursores//puntero-normal.cur'),auto;
    overflow: hidden;
}
a{
    cursor: url('../imgs/cursores/puntero-click.cur'),pointer;  
    text-decoration: none;
}
bubblegum-sans-regular {
    font-family: "Bubblegum Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .logo{
    position: absolute;
    height: 130px;
    top: 0%;
    left: 30px;

}
.narvar {
    background-color: #ff8000;
    color: #FFF;
    border: solid 2px ;
    border-radius: 20px;
    margin: 20px 7px;
    text-align: center;
}
.titulo{
    font-family: "Bubblegum Sans", sans-serif;
    margin: 0px;
    border: 0px;
    font-size: 4.3rem;
}
.content {
    display: none;
    opacity: 0;
    transition: opacity 1s ease;
    text-align: center;
}
.content.show {
    display: block;
    opacity: 1;
}
.hidden {
    opacity: 0;
    transition: opacity 1s ease;
}

.capi-saludo{
    position: absolute;
    top:50%;
    bottom: 0;
    right: 55%;
    width: 400px;

}
.globo-texto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
 
}
.mensaje{
    color: black;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 28%;
    height: auto;
    font-size: 3.8rem;
}
#btn, #btn-1, #btn-2, #btn-3, #btn-4{
    color: #FFF;
    position: absolute;
    top: 80%;
    left: 80%;
    font-size: 2.5rem;
    animation: texto 2.5s infinite;
    text-decoration: none;
}

@keyframes texto{
    0% {
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}






@media (width < 570px){
    .logo{
        position: absolute;
        height: 130px;
        top: 0%;
        left: 3px;
    
    }
    .titulo{
        font-family: "Bubblegum Sans", sans-serif;
        font-size: 4.3rem;
        margin-left: 50px;
    }
}
@media (width < 490px){
    .logo{
        position: absolute;
        height: 130px;
        top: 0%;
        left: 3px;
    
    }
    .titulo{
        font-family: "Bubblegum Sans", sans-serif;
        font-size: 3.8rem;
        margin-left: 90px;
    }
}